<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&display=swap" rel="stylesheet">

</head>
<body>
  <header class="header">
    <div class="logo_header">
      <a href="" class="logo_a">
        <img th:src="@{/img/header_logo.png}" class="logo_header_img">
      </a>
    </div>
    <div class="header_a">
      <a href="/auth" class="header_text">
        ВОЙТИ
      </a>
      <a href="/register" class="header_text">
        РЕГИСТРАЦИЯ
      </a>
    </div>
  </header>
  <div th:each="article : ${articles}">
    <div class="content" th:if="${article.isHidden == false}">
      <div class="article">
          <div class="article_content" th:text="${article.getText()}">
          </div>
          <div class="lower_panel">
            <p class="article_author" th:text="'Автор: ' + ${article.getAuthor().getUsername()}">Автор:</p>
          </div>
      </div>
    </div>
  </div>

  <div th:insert="~{blocks/footer.html :: footer}">
  </div>
</body>
</html>